/* Full page background */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url("https://images.unsplash.com/photo-1502877338535-766e1452684a");
  background-size: cover;
  background-position: center;
}

/* Card */
.login-card {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  text-align: center;
}

/* Heading */
.login-card h1 {
  margin-bottom: 20px;
  color: #333;
}

/* Inputs */
.login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}

.login-form input:focus {
  border-color:blue;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 10px;
  background: blue;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #e63e20;
}

/* Label */
.login-form label {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #555;
}